.editorconfig
.vscode/
.paket
.fake/
.vs/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.DotSettings.user
yarn-error.log
.google-oauth-env
paket
.jwt-secret
src/Client/public/css/mystyles.css
src/Server/appsettings.json
src/Server/appsettings.Development.json
deploy/