source https://www.nuget.org/api/v2
nuget jose-jwt
clitool FluentMigrator.Console
clitool dotnet-dev-certs
version 5.257.0

group Dev
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none
    nuget FluentMigrator 3.1.3
    nuget FluentMigrator.Runner 3.1.3
    nuget FSharp.Core
    nuget Thoth.Json.Net

group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget Dapper ~> 2
    nuget Fable.Elmish.Debugger
    nuget FluentMigrator ~> 3
    nuget FluentMigrator.Runner ~> 3
    nuget FSharp.Core
    nuget jose-jwt
    nuget Microsoft.AspNetCore.Authentication.Google 3.1.10
nuget Microsoft.AspNetCore.Authentication.JwtBearer 3.1.10
nuget Microsoft.AspNetCore.Authentication.OpenIdConnect 3.1.10
    nuget OpenTokCore
    nuget Saturn
    nuget Fable.JsonConverter //fable.JsonConverter only works on the server. don't try it in the client.
    nuget Saturn.Extensions.Authorization
nuget SendGrid 9.24.2
    nuget Thoth.Json.Giraffe
    nuget Thoth.Json.Net
    nuget Elmish.Bridge.Giraffe
    nuget UAParser 3.1.44

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fulma.Extensions.Wikiki.Divider
    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Browser ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.React ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.FontAwesome ~> 2
    nuget Fable.FontAwesome.Free ~> 2
    nuget Fable.Promise ~> 2
    nuget Fable.React ~> 5
    nuget Fable.Fetch ~> 2
    nuget Fulma ~> 2
    nuget Elmish.Bridge.Client
    nuget Thoth.Json 3.1.0
    nuget Thoth.Fetch ~> 1

    clitool dotnet-fable ~> 2

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget jose-jwt
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    nuget Microsoft.Azure.Management.ResourceManager.Fluent
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs