@charset "utf-8";
@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulma/sass/utilities/functions";
// Setup custom Colors
// all these colours harmonize except the error colour.
// it's meant to be a little discontinuous.
$custom-titan-primary: #351c4d;
$custom-titan-primary-invert: findColorInvert($custom-titan-primary);
$custom-titan-secondary: #765285;
$custom-titan-secondary-invert: findColorInvert($custom-titan-secondary);
$custom-titan-info: #ff7e5f;
$custom-titan-info1: #feb47b;
$custom-titan-info2: #f5ab99;
$custom-titan-success: #ffd659;
$custom-titan-success1: #fffbad;
$custom-titan-error: #c4211c;
$custom-titan-info-invert: findColorInvert($custom-titan-info);
$custom-titan-info1-invert: findColorInvert($custom-titan-info1);
$custom-titan-info2-invert: findColorInvert($custom-titan-info2);
$custom-titan-success-invert: findColorInvert($custom-titan-success);
$custom-titan-error-invert: findColorInvert($custom-titan-error);

// Since bulma 7.0 we have `custom-colors` and `custom-shades`
$custom-colors: (
  "custom-titan-primary":($custom-titan-primary, $custom-titan-primary-invert),
  "custom-titan-secondary": ($custom-titan-secondary, $custom-titan-secondary-invert),
  "custom-titan-info": ($custom-titan-info, $custom-titan-info-invert),
  "custom-titan-info1": ($custom-titan-info1, $custom-titan-info1-invert),
  "custom-titan-info2": ($custom-titan-info2, $custom-titan-info2-invert),
  "custom-titan-success": ($custom-titan-success, $custom-titan-success-invert),
  "custom-titan-error": ($custom-titan-error, $custom-titan-error-invert),
);
  
#layoutContainer {
    width: 100%;
    height: 85vh;
    background-color: #DDD;
    position:relative;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    //min-height: 720px;
    margin-left: auto;
    margin-right: auto;
}
#subscriber {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 90vh;
    min-height: 720;
    z-index: 10;
}
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.markdown {
    h1 {
        color : $custom-titan-primary;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    h2 {
        color : $custom-titan-primary;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
    }
    h3 {
        color : $custom-titan-primary;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 700;
        text-align: left;
    }
    p {
        font-family: 'Roboto', sans-serif;
        color : black;
        font-size: 1em;
        text-align: left;
        padding: 1rem
    }
    ul {
        font-family: 'Roboto', sans-serif;
        color : black;
        font-size: 1rem;
        text-align: left;
        list-style-type: circle;
    }
    a, a:link, a:visited {
        color: $custom-titan-info1;
        text-decoration: none;
        background-color: $custom-titan-info1;
    }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff7e5f;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
// Import the derived variables from Bulma
// It will use our $custom-colors
@import "../../../../node_modules/bulma/sass/utilities/derived-variables";

// Import all Bulma
@import '../../../../node_modules/bulma/bulma';
